In [1]:
import os
import json
import pandas as pd
import numpy as np

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

import the corpus (raw data)

In [2]:
processedDircPath=r'C:\Users\admin\OneDrive\Documents\supervised project\processedFiles'
rawDataFile=open(os.path.join(processedDircPath,'rawDataList.txt'), "r" )
rawDataList=json.loads(rawDataFile.read())

build function

In [3]:
def initialize_count():
    # Initialize a CountVectorizer object: count_vectorizer
    countVec = CountVectorizer(stop_words="english", analyzer='word', 
                            ngram_range=(1, 1), max_df=1.0, min_df=1, max_features=20)
    countMatrix = countVec.fit_transform(rawDataList)
    # round decimal in countMatrix to 2
    countMatrixR=np.round(countMatrix , decimals=2).toarray() 
    return [countVec, countMatrixR]

In [4]:
def initialize_TFIDF():
    # Initialize a TfidfVectorizer object: tfidf_vectorizer
    tfidfVec = TfidfVectorizer(stop_words="english", analyzer='word',
                                ngram_range=(1, 1), max_df=1.0, min_df=1, max_features=10)
    tfidfMatrix = tfidfVec.fit_transform(rawDataList)
    # round decimal in tfidfMatrix to 2
    tfidfMatrixR=np.round(tfidfMatrix, decimals=2).toarray() 
    return [tfidfVec, tfidfMatrixR]

In [5]:
def matrix_present(vec,matrix):
    return pd.DataFrame(matrix, columns=vec.vocabulary_)

In [6]:
def rank_present(vec, MatrixR):
    #rank key words for each doc based on TFIDF or TF
    sortedDF={}
    df=pd.DataFrame(MatrixR, columns=vec.vocabulary_).to_dict('index')
    for key, value in df.items():
        sortedValue=sorted(value.items(), key=lambda x: x[1], reverse=True)
        sortedDF[key]=sortedValue
    return pd.DataFrame.from_dict(sortedDF, orient='index')

dataframe presentation

In [8]:
matrix_present(*initialize_count())

,big,data,management,research,analytics,2013,2015,2016,2012,al,et,2014,manufacturing,information,2017,use,business,supply,chain,cid
0,264.0,366.0,294.0,547.0,549.0,144.0,436.0,118.0,257.0,10.0,0.0,0.0,424.0,416.0,116.0,257.0,31.0,156.0,2.0,45.0
1,138.0,177.0,291.0,166.0,56.0,122.0,956.0,27.0,378.0,231.0,542.0,0.0,938.0,956.0,320.0,309.0,813.0,348.0,749.0,108.0
2,33.0,50.0,13.0,221.0,37.0,0.0,119.0,991.0,1479.0,1496.0,1576.0,0.0,2761.0,119.0,1269.0,1744.0,7.0,1141.0,1677.0,2221.0
3,69.0,23.0,49.0,259.0,160.0,154.0,245.0,0.0,0.0,19.0,246.0,0.0,137.0,228.0,95.0,40.0,31.0,126.0,225.0,26.0
4,24.0,29.0,98.0,66.0,37.0,29.0,210.0,41.0,487.0,133.0,4.0,0.0,574.0,160.0,90.0,44.0,8.0,53.0,2.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,10.0,6.0,11.0,6.0,0.0,0.0,2.0,8.0,31.0,28.0,2.0,0.0,79.0,2.0,23.0,10.0,0.0,18.0,2.0,4.0
61,204.0,293.0,116.0,229.0,273.0,71.0,385.0,60.0,594.0,154.0,72.0,0.0,1204.0,385.0,110.0,92.0,1275.0,154.0,123.0,157.0
62,98.0,170.0,284.0,249.0,849.0,212.0,410.0,9.0,172.0,117.0,165.0,0.0,408.0,410.0,104.0,113.0,612.0,104.0,177.0,102.0
63,2.0,22.0,15.0,75.0,207.0,0.0,64.0,183.0,85.0,26.0,152.0,0.0,352.0,64.0,29.0,35.0,58.0,48.0,281.0,96.0
64,195.0,177.0,163.0,594.0,459.0,1305.0,530.0,7.0,7.0,58.0,1214.0,0.0,225.0,513.0,336.0,370.0,35.0,129.0,1360.0,142.0

In [9]:
rank_present(*initialize_count())

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,"(analytics, 549.0)","(research, 547.0)","(2015, 436.0)","(manufacturing, 424.0)","(information, 416.0)","(data, 366.0)","(management, 294.0)","(big, 264.0)","(2012, 257.0)","(use, 257.0)","(supply, 156.0)","(2013, 144.0)","(2016, 118.0)","(2017, 116.0)","(cid, 45.0)","(business, 31.0)","(al, 10.0)","(chain, 2.0)","(et, 0.0)","(2014, 0.0)"
1,"(2015, 956.0)","(information, 956.0)","(manufacturing, 938.0)","(business, 813.0)","(chain, 749.0)","(et, 542.0)","(2012, 378.0)","(supply, 348.0)","(2017, 320.0)","(use, 309.0)","(management, 291.0)","(al, 231.0)","(data, 177.0)","(research, 166.0)","(big, 138.0)","(2013, 122.0)","(cid, 108.0)","(analytics, 56.0)","(2016, 27.0)","(2014, 0.0)"
2,"(manufacturing, 2761.0)","(cid, 2221.0)","(use, 1744.0)","(chain, 1677.0)","(et, 1576.0)","(al, 1496.0)","(2012, 1479.0)","(2017, 1269.0)","(supply, 1141.0)","(2016, 991.0)","(research, 221.0)","(2015, 119.0)","(information, 119.0)","(data, 50.0)","(analytics, 37.0)","(big, 33.0)","(management, 13.0)","(business, 7.0)","(2013, 0.0)","(2014, 0.0)"
3,"(research, 259.0)","(et, 246.0)","(2015, 245.0)","(information, 228.0)","(chain, 225.0)","(analytics, 160.0)","(2013, 154.0)","(manufacturing, 137.0)","(supply, 126.0)","(2017, 95.0)","(big, 69.0)","(management, 49.0)","(use, 40.0)","(business, 31.0)","(cid, 26.0)","(data, 23.0)","(al, 19.0)","(2016, 0.0)","(2012, 0.0)","(2014, 0.0)"
4,"(manufacturing, 574.0)","(2012, 487.0)","(2015, 210.0)","(information, 160.0)","(al, 133.0)","(management, 98.0)","(2017, 90.0)","(research, 66.0)","(supply, 53.0)","(use, 44.0)","(2016, 41.0)","(analytics, 37.0)","(data, 29.0)","(2013, 29.0)","(big, 24.0)","(cid, 20.0)","(business, 8.0)","(et, 4.0)","(chain, 2.0)","(2014, 0.0)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,"(manufacturing, 79.0)","(2012, 31.0)","(al, 28.0)","(2017, 23.0)","(supply, 18.0)","(management, 11.0)","(big, 10.0)","(use, 10.0)","(2016, 8.0)","(data, 6.0)","(research, 6.0)","(cid, 4.0)","(2015, 2.0)","(et, 2.0)","(information, 2.0)","(chain, 2.0)","(analytics, 0.0)","(2013, 0.0)","(2014, 0.0)","(business, 0.0)"
61,"(business, 1275.0)","(manufacturing, 1204.0)","(2012, 594.0)","(2015, 385.0)","(information, 385.0)","(data, 293.0)","(analytics, 273.0)","(research, 229.0)","(big, 204.0)","(cid, 157.0)","(al, 154.0)","(supply, 154.0)","(chain, 123.0)","(management, 116.0)","(2017, 110.0)","(use, 92.0)","(et, 72.0)","(2013, 71.0)","(2016, 60.0)","(2014, 0.0)"
62,"(analytics, 849.0)","(business, 612.0)","(2015, 410.0)","(information, 410.0)","(manufacturing, 408.0)","(management, 284.0)","(research, 249.0)","(2013, 212.0)","(chain, 177.0)","(2012, 172.0)","(data, 170.0)","(et, 165.0)","(al, 117.0)","(use, 113.0)","(2017, 104.0)","(supply, 104.0)","(cid, 102.0)","(big, 98.0)","(2016, 9.0)","(2014, 0.0)"
63,"(manufacturing, 352.0)","(chain, 281.0)","(analytics, 207.0)","(2016, 183.0)","(et, 152.0)","(cid, 96.0)","(2012, 85.0)","(research, 75.0)","(2015, 64.0)","(information, 64.0)","(business, 58.0)","(supply, 48.0)","(use, 35.0)","(2017, 29.0)","(al, 26.0)","(data, 22.0)","(management, 15.0)","(big, 2.0)","(2013, 0.0)","(2014, 0.0)"
64,"(chain, 1360.0)","(2013, 1305.0)","(et, 1214.0)","(research, 594.0)","(2015, 530.0)","(information, 513.0)","(analytics, 459.0)","(use, 370.0)","(2017, 336.0)","(manufacturing, 225.0)","(big, 195.0)","(data, 177.0)","(management, 163.0)","(cid, 142.0)","(supply, 129.0)","(al, 58.0)","(business, 35.0)","(2016, 7.0)","(2012, 7.0)","(2014, 0.0)"

In [10]:
matrix_present(*initialize_TFIDF())

     big  data  research  2015  2016    al    et  information  supply   cid
0   0.49  0.55      0.37  0.23   0.0  0.34  0.35         0.09    0.13  0.00
1   0.09  0.03      0.49  0.21   0.0  0.46  0.50         0.16    0.17  0.44
2   0.06  0.01      0.03  0.40   0.0  0.66  0.03         0.31    0.27  0.48
3   0.48  0.33      0.42  0.00   0.0  0.23  0.40         0.16    0.21  0.45
4   0.09  0.05      0.26  0.64   0.0  0.68  0.20         0.11    0.06  0.00
..   ...   ...       ...   ...   ...   ...   ...          ...     ...   ...
60  0.07  0.00      0.02  0.38   0.0  0.87  0.02         0.25    0.20  0.03
61  0.16  0.22      0.25  0.42   0.0  0.77  0.26         0.07    0.10  0.09
62  0.20  0.78      0.31  0.14   0.0  0.30  0.32         0.08    0.08  0.16
63  0.14  0.45      0.12  0.17   0.0  0.61  0.12         0.05    0.08  0.58
64  0.32  0.28      0.27  0.00   0.0  0.11  0.27         0.17    0.06  0.79

[65 rows x 10 columns]

In [11]:
rank_present(*initialize_TFIDF())

,0,1,2,3,4,5,6,7,8,9
0,"(data, 0.55)","(big, 0.49)","(research, 0.37)","(et, 0.35000000000000003)","(al, 0.34)","(2015, 0.23)","(supply, 0.13)","(information, 0.09)","(2016, 0.0)","(cid, 0.0)"
1,"(et, 0.5)","(research, 0.49)","(al, 0.46)","(cid, 0.44)","(2015, 0.21)","(supply, 0.17)","(information, 0.16)","(big, 0.09)","(data, 0.03)","(2016, 0.0)"
2,"(al, 0.66)","(cid, 0.48)","(2015, 0.4)","(information, 0.31)","(supply, 0.27)","(big, 0.06)","(research, 0.03)","(et, 0.03)","(data, 0.01)","(2016, 0.0)"
3,"(big, 0.48)","(cid, 0.45)","(research, 0.42)","(et, 0.4)","(data, 0.33)","(al, 0.23)","(supply, 0.21)","(information, 0.16)","(2015, 0.0)","(2016, 0.0)"
4,"(al, 0.68)","(2015, 0.64)","(research, 0.26)","(et, 0.2)","(information, 0.11)","(big, 0.09)","(supply, 0.06)","(data, 0.05)","(2016, 0.0)","(cid, 0.0)"
...,...,...,...,...,...,...,...,...,...,...
60,"(al, 0.87)","(2015, 0.38)","(information, 0.25)","(supply, 0.2)","(big, 0.07)","(cid, 0.03)","(research, 0.02)","(et, 0.02)","(data, 0.0)","(2016, 0.0)"
61,"(al, 0.77)","(2015, 0.42)","(et, 0.26)","(research, 0.25)","(data, 0.22)","(big, 0.16)","(supply, 0.1)","(cid, 0.09)","(information, 0.07)","(2016, 0.0)"
62,"(data, 0.78)","(et, 0.32)","(research, 0.31)","(al, 0.3)","(big, 0.2)","(cid, 0.16)","(2015, 0.14)","(information, 0.08)","(supply, 0.08)","(2016, 0.0)"
63,"(al, 0.61)","(cid, 0.58)","(data, 0.45)","(2015, 0.17)","(big, 0.14)","(research, 0.12)","(et, 0.12)","(supply, 0.08)","(information, 0.05)","(2016, 0.0)"
64,"(cid, 0.79)","(big, 0.32)","(data, 0.28)","(research, 0.27)","(et, 0.27)","(information, 0.17)","(al, 0.11)","(supply, 0.06)","(2015, 0.0)","(2016, 0.0)"